<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="mainWrapper">
  

    <div class="wrapper">
        <div class="insideDiv">
            Create a Project
            <form id="projectCreateForm">
                <input type="text" name="project_name" placeholder="*Project Name" required>
                <button id="projectSubmit">Create project</button>
            </form>
            <form>
                <button id="getAllProjectSubmit"> Get All Project</button>
            </form>
        </div>
        <div class="insideDiv">
            Create issue with project Name
            <form id="issueCreateForm">
                <input type="text" name="project_name" placeholder="*Project Name" required>
                <input type="text" name="issue_title" placeholder="*Issue Name" required>
                <input type="text" name="issue_text" placeholder="*Issue Text" required>
                <input type="text" name="created_by" placeholder="*Created By" required>
                <input type="text" name="assigned_to" placeholder="Assigned To">
                <input type="text" name="status" placeholder="Status">
                <button id="issueSubmit">Create Issue</button>
            </form>
            Get all issue within project
            <form id="issueGetForm">
                <input type="text" name="project_name" placeholder="*Project Name" required>
                <button id="issueGetSubmit">Get Issue</button>
            </form>

        </div>
        <div class="insideDiv">
            Update issue with issue Id<br>
          <label><input id="extra" type="checkbox" name="open"/>Check if issue closed</label>
            <form id="issueUpdateForm">
                <input type="text" name="project_name" placeholder="*Project Name" required>
                <input id="issueId" type="text" name="issue_Id" placeholder="*Issue Id" required>
                <input type="text" name="issue_title" placeholder="Issue Name">
                <input type="text" name="issue_text" placeholder="Issue Text">
                <input type="text" name="created_by" placeholder="Created By">
                <input type="text" name="assigned_to" placeholder="Assigned To">
                <input type="text" name="status" placeholder="Status">
                <button id="issueUpdateSubmit">Update Issue</button>
            </form>

        </div>
        <div class="insideDiv">
            Delete Issue
            <form id="issueDeleteForm">
                <input type="text" name="project_name" placeholder="*Project Name" required>
                <input type="text" name="issue_Id" placeholder="*Issue Id" required>
                <button id="issueDeleteSubmit">Delete Issue</button>
            </form>
        </div>

    </div>

    <div class="resultDiv">

    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="/client.js"></script>

</body>

</html>