<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

<div class="wrapper">
  <div class="insideDiv">
    Create a Project
            <form method="post" action="/api/">
            <input type="text" name="projectName" placeholder="*Project Name">
            <button type="submit">Create project</button>
        </form>
            <form method="get" action="/api/getallproject/">
            <button type="submit"> Get All Project</button>
        </form>
  </div>
    <div class="insideDiv">
      Create issue with project Name
        <form id="issueCreateForm">
            <input type="text" name="projectName" placeholder="*Project Name">
            <input type="text" name="issueName" placeholder="*Issue Name">
            <input type="text" name="issueText" placeholder="*Issue Text">
            <input type="text" name="createdBy" placeholder="*Created By">
            <input type="text" name="assignedTo" placeholder="Assigned To">
            <input type="text" name="status" placeholder="Status">
            <button type="submit" id="issueSubmit">Create Issue</button>
        </form>
    
  </div>
    <div class="insideDiv">
    
  </div>
      <div class="insideDiv">
    
  </div>
  
</div>    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
