body{
background-color:gray;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.insideDiv {
    background-color: lightgray;
    width: 250px;
  min-width:200px;
    height: 400px;
    margin: 10px;
}
.resultDiv {
    background-color: lightgray;
    width: 500px;
    height: 400px;
    margin: auto;
   overflow: auto;
}