body{
background-color:gray;
}
.mainWrapper{
width:1000px;
     margin: auto;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.insideDiv {
    background-color: lightgray;
    width: 250px;
  min-width:200px;
    height: 400px;
    margin: 10px;
}
.resultDiv {
    background-color: lightgray;
  margin: 10px;
    height: 400px;
   overflow: auto;
}